body {
    background-color: black;
    color: white;

}

body {
    background-image: url('https://thumbs.gfycat.com/HospitableGiddyBuck-size_restricted.gif');
    height: 100vh;

    background-position: center center;

    background-repeat: no-repeat;
    backdrop-filter: blur(20px);


    background-attachment: fixed;
    background-size: cover;
}